html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: white;
}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 4px rgba(135, 133, 135, 0.3);
}

.intro {
  position: relative;
  padding-bottom: 80px;
  padding-top: 76px;
  background-color: darkgreen;
  background-image: url(../img/Background.jpg);
  background-position-x: 50%;
  background-position-y: -360px;
  /* background-attachment: fixed; */
}

.intro-img {
  display: block;
  margin: 0 auto;
}

.intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-image: url(../img/intro-mask.svg);
  width: 100%;
  height: 57px;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

.main-nav-list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-nav-link {
  color: #000000;
}

.main-nav-link:hover {
  color: #81b3d2;
}

.main-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.reasons {
  padding-top: 60px;
}

.reason-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature-list {
  display: flex;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.reasons-title {
  width: 37%;
  margin: 0;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.reasons-description {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.reason-desc {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  padding-top: 48px;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.reason-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #81b3d2;
}

.reason-item-bottom {
  display: block;
  width: 33.33%;
  padding-top: 50px;
  padding-bottom: 60px;
  /* padding-left: 4%; */
  /* padding-right: 4%; */
  text-align: center;
  background-color: #eeeeee;
}

.reason-desc-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  width: 55%;
  margin-bottom: 23px;
}

.reason-description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  /* width: 100%; */
}

.reason-number {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

.reason-item-bottom .reason-desc-title {
  color: black;
  width: 156px;
  margin-bottom: 19px;
}

.reason-item-bottom .reason-description {
  color: #333333;
  width: 67%;
  margin: 0 auto;
  /* text-align: center; */
}

.reason-item-bottom .reason-number {
  color: black;
}

.feature-desc {
  width: 75%;
  height: 25%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.feature-title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.feature-title::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.feature-title-home::before {
  width: 75px;
  height: 72px;
  background-image: url(../img/icon-1.svg);
}

.feature-title-food::before {
  top: -99px;
  width: 74px;
  height: 70px;
  background-image: url(../img/icon-3.svg);
}

.feature-title-souvenirs::before {
  top: -103px;
  width: 64px;
  height: 76px;
  background-image: url(../img/icon-2.svg);
}

.hotels-offers {
  min-height: 720px;
  padding-top: 53px;
  text-align: center;
  background-color: #ffffff;
}

.hotel-offers-title {
  display: block;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.hotel-offers-desc {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.hotels-offers-btn {
  width: 568px;
  min-height: 90px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
}

.hotels-offers-btn:hover {
  background-color: #604e43;
}

.hotels-offers-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-label {
  display: inline-block;
  margin-right: 14px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: black;
  text-transform: uppercase;
}

.check-in {
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 29px;

}

.check-out {
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 30px;

}

.date-check-in-btn {
  position: absolute;
  left: 481px;
  top: 61px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;


}



.date-check-out-btn {

  position: absolute;
  left: 481px;
  top: 130px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;

}


.search-date {
  position: relative;
  width: 344px;
  height: 38px;
  padding-right: 30px;
  padding-left: 13px;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;

}

.search-date:hover {
  background-color: #ebebeb;
}

.search-date:focus {
  background-color: #ffffff;
}

.adult-amount {
  display: inline-flex;
  align-items: center;
  min-width: 280px;

}



.child-amount {

  display: inline-flex;
  align-items: center;
  min-width: 200px;

}

.amount-btn {
  position: relative;
  list-style: none;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.min-btn::before,
.plus-btn::after,
.plus-btn::before {
  content: '';
  position: absolute;
  top: 17px;
  left: 13px;
  width: 11px;
  height: 2px;
  background-color: #aaaaaa;
}

.plus-btn::after {

  transform: rotate(90deg);

}

.child-label {
  margin-right: 28px;
  margin-left: 8px;
}

.adult-label {

  margin-left: 13px;
  margin-right: 40px;
}

.adult-amount input,
.child-amount input {
  width: 38px;
  height: 38px;
  font: inherit;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.adult-amount input:hover,
.child-amount input:hover {
  background-color: #ebebeb;
}

.adult-amount input:focus,
.child-amount input:focus {
  background-color: #ffffff;
}


.search-btn {
  position: absolute;
  top: 281px;
  left: 55px;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;

}

.map {
  background-image: url(../img/map.jpg);
  min-height: 474px;
}


.main-footer {
  display: flex;
  min-height: 120px;
  padding-top: 36px;
  background-color: #ffffff;

}

.footer-hashtag {
  width: 11, 33%;
  min-height: 16px;
  margin-left: 11%;
  margin-top: 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: black;

}

.social-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  min-width: 13%;
  min-height: 48px;
  margin: 0;
  padding: 0;
  margin-left: 21%;

}

.social-item {
  width: 30%;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  color: white;
  text-align: center;
  background-color: #81b3d2;

}

.social-button {
  color: white;
  background-color: #81b3d2;

}

.footer-copyright-text {
  margin-right: 3%;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: black;

}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.filter-group label {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.hotels-amount {
  /* margin-left: 6%; */
  margin-right: 4%;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
}

.sort-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;

}

.sort {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: black;
}

.sort-link {
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item {
  font-size: 10.5px;
  line-height: 17.5px;
  text-align: left;
  color: black;
  margin-right: 18px;
}

.sort-link:visited {
  color: #81b3d2;
}

.sort-link:hover {
  color: #81b3d2;
}

.sort-link:active {
  color: black;
}

.sort-item-active .sort-link {
  color: #81b3d2;
}

.sort-btns {
  margin-left: auto;
  margin-right: 5%;

}

.sort-btn {
  margin-left: auto;
  margin-right: 0;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.hotel-link h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-align: left;
}

.hotel-link h3:hover {
  color: #81b3d2;
}

.hotel-link h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  font-weight: normal;
  color: #333333;

}

.hotel-btn {
  width: 110px;
  height: 26px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  background-color: #81b3d2;
}

.hotel-btn:hover {
  background-color: #669ec0;
}

.hotel-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-btn-book {
  background-color: #766357;
}

.hotel-btn-book:hover {
  background-color: #604e43;
}

.hotel-btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  margin-right: 6%;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: left;
  background-color: #f2f2f2;

}

.logo-htmlacademy-img:hover path {
  fill: #81b3d2;
}

.filters {
  display: flex;
  max-height: 218px;
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 30px;
  background-color: #604e43;
  background-image: url(../img/Background1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.main-nav {
  position: relative;
  width: 100%;

}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main-nav-item {
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-nav-item:nth-child(2) {
  margin-right: 20%;
}

.reason-desc {
  width: 33.33%;
}

.reason-img {
  width: 66.66%;
  height: 256px;
  object-fit: cover;
  object-position: 0% 54%;
}

.feature-item {
  position: relative;
  display: block;
  width: 33.33%;
  padding-top: 160px;
  padding-bottom: 82px;
}

.footer-copyright {

  display: flex;
  align-items: center;
  width: 16.41%;
  margin: 0;
  margin-right: 8.41%;
  margin-left: 19%;
  margin-top: -0.5%;
  padding: 0;
  max-height: 60px;

}

.search-form {
  position: relative;
  width: 568px;
  min-height: 395px;
  margin-left: 316px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.filter-group {
  display: flex;
  flex-direction: column;
  margin-right: 94px;
  padding-top: 22px;
  border: none;
}

.custom-checkbox {
  width: 27px;
  height: 23px;
}

.custom-label {
  display: block;
  margin-bottom: 25px;
  margin-left: 40px;
  position: relative;
  width: 57px;
}

.custom-label::before {

  content: "";
  position: absolute;
  left: -40px;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  color: white;

}

input:checked+.custom-label::before {
  background-image: url(../img/checkbox-on.svg);

}

.filter-range {
  padding-top: 0;
  min-width: 340px;
  margin-left: 270px;

}


/* range */

.filter-range-title {
  margin-bottom: 9px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 50%;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  width: 136px;
  height: 32px;
  display: block;
  margin-left: 86px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;


}

.min-price {
  padding-left: 43px;
  padding-top: 5px;
}

/* end range */
.result {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 6%;
  margin-bottom: 30px;


}

.hotel-item {
  min-height: 150px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 4%;
}

.hotel-figure {
  display: flex;
  margin: 0;

}

.hotel-description {
  padding-right: 1px;
  display: flex;
  flex-grow: 1;
}

.hotel-rate {
  margin-left: auto;

}

.hotel-img {
  margin-right: 30px;
  margin-top: 5px;
}

.hotel-name {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
}

.hotel-type {
  margin-right: 19px;
}

.hotel-type-1 {
  margin-right: 35px;
}

.hotel-type-2 {
  margin-right: 60px;
}

.hotel-btns {
  margin-top: 14px;
}

.stars-list {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  margin-right: 5%;
}

.star {
  width: 18px;
  height: 17px;
  margin-right: 4%;
  background-image: url(../img/star.svg);
  background-size: 18px 17px;
  background-repeat: no-repeat;

}

.rate-output {
  margin-right: 13px;
}
